In [1]:
import pandas as pd

In [2]:
df_enut = pd.read_excel("ENUT-Reducida.xlsx")

In [3]:
df_enut

,o11_1_1,o11_1_2,o11_2_1,o11_2_2,o12_1_1,o12_1_2,o12_2_1,o12_2_2,o13_1_1,o13_1_2,...,q16_2_1,q16_2_2,q17_1_1,q17_1_2,q17_2_1,q17_2_2,q18_1_1,q18_1_2,q18_2_1,q18_2_2
0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,...,2.0,NaN,2.0,NaN,2.0,,NaN,NaN,,
1,1.0,1.0,1.0,1.5,1.0,0.167,1.0,0.083,1.0,0.500,...,2.0,NaN,2.0,NaN,2.0,,NaN,NaN,,
2,2.0,NaN,2.0,NaN,1.0,0.083,2.0,NaN,2.0,NaN,...,1.0,0.667,2.0,NaN,2.0,,NaN,NaN,,
3,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,...,2.0,NaN,2.0,NaN,2.0,,NaN,NaN,,
4,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,...,2.0,NaN,2.0,NaN,2.0,,NaN,NaN,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34570,1.0,1.5,1.0,2.0,2.0,NaN,2.0,NaN,1.0,0.500,...,2.0,NaN,2.0,NaN,1.0,2,NaN,NaN,",083",",083"
34571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,,
34572,2.0,NaN,1.0,2.0,1.0,0.333,1.0,0.333,2.0,NaN,...,2.0,NaN,2.0,NaN,2.0,,NaN,NaN,,
34573,2.0,NaN,1.0,0.5,2.0,NaN,1.0,0.333,1.0,0.167,...,2.0,NaN,2.0,NaN,2.0,,NaN,NaN,,
34574,1.0,1.5,1.0,1.5,1.0,0.083,1.0,0.250,1.0,1.000,...,2.0,NaN,2.0,NaN,2.0,,NaN,NaN,,